Repository Howwoh1996/howscode: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,scss,md}": ["prettier --write"],
  "src/**/*.{js,jsx,ts,tsx,json}": ["eslint --fix"],
  "src/**/*.{css,scss}": ["stylelint --fix"]
}

feat: haha
  .husky/commit-msg
  .husky/pre-commit
  aaa.html
Due: none

Update package.json
  package.json
Due: prettier --write

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.073c9b0a.css
  static/css/main.073c9b0a.css.map
  static/js/787.c0190055.chunk.js
  static/js/787.c0190055.chunk.js.map
  static/js/main.75bb011e.js
  static/js/main.75bb011e.js.LICENSE.txt
  static/js/main.75bb011e.js.map
  static/media/bct.8d677934bc06b3883ff5.jpg
Due: prettier --write

推起來
  src/pages/SideProject.tsx
  src/pages/SkillTree/SkillTree.tsx
  src/pages/SkillTree/SkillTree2.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.75bb011e.js
  static/js/main.75bb011e.js.map
  static/js/main.f59332d4.js
  static/js/main.f59332d4.js.LICENSE.txt
  static/js/main.f59332d4.js.map
Due: prettier --write

頭像製作 資料更新
  public/index.html
  src/App.test.tsx
  src/App.tsx
  src/image/notion-avatar-1695404119050.png
  src/image/下載 (1).png
  src/image/下載 (2).png
  src/image/下載 (3).png
  src/image/下載 (4).png
  src/image/下載 (5).png
  src/image/下載 (6).png
  src/image/下載 (7).png
  src/image/下載 (8).png
  src/image/下載.png
  src/index.css
  src/index.tsx
  src/pages/Home.tsx
  src/pages/SideProject.tsx
  src/pages/SideProject/ResumeCard.tsx
  src/pages/SkillTree/SkillTree.tsx
  src/pages/SkillTree/SkillTree2.tsx
  src/pages/home/MyHeader.tsx
  src/reportWebVitals.ts
  src/router/AppRouter.tsx
  src/router/HomeRouter.tsx
  src/setupTests.ts
Due: prettier --write, eslint --fix, stylelint --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.073c9b0a.css
  static/css/main.073c9b0a.css.map
  static/css/main.50fdec3f.css
  static/css/main.50fdec3f.css.map
  static/js/main.9002a592.js
  static/js/main.9002a592.js.LICENSE.txt
  static/js/main.9002a592.js.map
  static/js/main.f59332d4.js
  static/js/main.f59332d4.js.map
  static/media/notion-avatar-1695404119050.b18c3085f73041e25b51.png
Due: prettier --write

firebase handler
  package.json
  src/pages/SideProject.tsx
  src/pages/home/MyHeader.tsx
  src/shared/firebaseHanddler.js
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.75148dba.js
  static/js/main.75148dba.js.LICENSE.txt
  static/js/main.75148dba.js.map
  static/js/main.9002a592.js
  static/js/main.9002a592.js.LICENSE.txt
  static/js/main.9002a592.js.map
Due: prettier --write
